html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Droid Sans, Arial, sans-serif;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

.slFixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.slHeaderBar {
    display: flex;
    background-color: #F95759;
    color: #fff;
    height: 3em;
}

.slHeaderBarItem {
    flex: 1;
    display: flex;
}

.slHeaderBarCenter > span {
    margin: auto;
}

.slHeaderBarRight > button {
    margin-left: auto;
}

.slHeaderBarButton {
    font-family: Droid Sans, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0.75em;
}

.slHeaderBarAdd {
    background-color: transparent;
    color: #fff;
    font-size: 2em;
    border: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

.slAddModeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slAddPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.slAddBox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Droid Sans, Arial, sans-serif;
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border: 0;
    flex-grow: 1;
}

.slListContainer {
    padding-top: 3em;
}

.slListCategoryHeader {
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.slShoppingItem {
    padding: 1em;
    padding-left: 2em;
    border-bottom: 1px solid #eee;
}

.slShoppingItemCompleted {
    text-decoration: line-through;
    color: #ccc;
}

.slNoItems {
    text-align: center;
}
